@mixin flexCenter($direction, $background) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

header {
  @include flexCenter(column, blue);
  color: $textColor;

  button {
    background: pink;
    &:hover {
      background: red;
    }
  }
}
